# development
.venv
*.pyc
.pytest_cache
__pycache__
.coverage
test-tmp/
.DS_Store
.vscode/
.idea
hidden/
packages/docs/docs/api-reference/ui

# runtime data
pids
*.log
.env
*.pid
*.seed
*.lock
!yarn.lock
!poetry.lock
*.dat
*.txt
runtime-data/
config/**/*.json
!config/**/*.default.json
logs/**/*
!logs/**/.gitkeep