# python
.venv
*.pyc
.pytest_cache
__pycache__

# config
config/parameters.json
config/setup.json
config/config.lock

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
logs/logs.lock

# runtime data
pids
*.pid
*.seed
*.pid.lock
.DS_Store
*.dat
Bilder/**/*.JPG
*.txt
runtime-data/

# pyra ui
packages/electron-ui/node_modules/
packages/electron-ui/.webpack/
packages/electron-ui/out/
packages/ui/node_modules/

# development
.vscode/