@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
    --ifm-color-primary-lightest: #84c5f4; /* blue-200 */
    --ifm-color-primary-lighter: #62b0e8; /* blue-300 */
    --ifm-color-primary-light: #4098d7; /* blue-400 */
    --ifm-color-primary: #2680c2; /* blue-500 */
    --ifm-color-primary-dark: #186faf; /* blue-600 */
    --ifm-color-primary-darker: #0f609b; /* blue-700 */
    --ifm-color-primary-darkest: #0a558c; /* blue-800 */

    --ifm-link-color: #186faf; /* blue-600 */
    --ifm-font-size-base: 1.2rem;
    --ifm-line-height-base: 1.5rem;

    --ifm-transition-fast: 100ms;

    --ifm-spacing-horizontal: 1rem;
}
