@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-green-button path {
    @apply fill-slate-800;
}

.svg-toggle-true .primary {
    @apply fill-blue-300;
}

.svg-toggle-true .secondary {
    @apply fill-blue-900;
}

.svg-toggle-false .primary {
    @apply fill-gray-200;
}

.svg-toggle-false .secondary {
    @apply fill-transparent;
}

.flex-row-center {
    @apply flex flex-row items-center justify-center;
}

.flex-col-center {
    @apply flex flex-col items-center justify-center;
}

.flex-col-left {
    @apply flex flex-col items-start justify-center;
}

.flex-col-right {
    @apply flex flex-col items-end justify-center;
}

.flex-row-left {
    @apply flex flex-row items-center justify-start;
}

.flex-row-right {
    @apply flex flex-row items-center justify-end;
}

.flex-row-left-top {
    @apply flex flex-row items-start justify-start;
}

.elevated-panel {
    @apply shadow-sm rounded-md bg-white border-gray-250 border;
}

* {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

*::-webkit-scrollbar {
    display: none;
}
