@tailwind base;
@tailwind components;
@tailwind utilities;

.svg-green-button path {
    @apply fill-slate-800;
}

.svg-toggle-true .primary {
    @apply fill-blue-300;
}

.svg-toggle-true .secondary {
    @apply fill-blue-900;
}

.svg-toggle-false .primary {
    @apply fill-gray-200;
}

.svg-toggle-false .secondary {
    @apply fill-transparent;
}

.flex-row-center {
    @apply flex flex-row items-center justify-center;
}

.flex-col-center {
    @apply flex flex-col items-center justify-center;
}

.flex-col-left {
    @apply flex flex-col items-start justify-center;
}

.flex-col-right {
    @apply flex flex-col items-end justify-center;
}

.flex-row-left {
    @apply flex flex-row items-center justify-start;
}

.flex-row-right {
    @apply flex flex-row items-center justify-end;
}

.flex-row-left-top {
    @apply flex flex-row items-start justify-start;
}

.elevated-panel {
    @apply shadow-sm rounded-lg bg-white border-gray-250 border;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;
        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 222.2 84% 4.9%;
        --foreground: 210 40% 98%;

        --card: 222.2 84% 4.9%;
        --card-foreground: 210 40% 98%;

        --popover: 222.2 84% 4.9%;
        --popover-foreground: 210 40% 98%;

        --primary: 210 40% 98%;
        --primary-foreground: 222.2 47.4% 11.2%;

        --secondary: 217.2 32.6% 17.5%;
        --secondary-foreground: 210 40% 98%;

        --muted: 217.2 32.6% 17.5%;
        --muted-foreground: 215 20.2% 65.1%;

        --accent: 217.2 32.6% 17.5%;
        --accent-foreground: 210 40% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 40% 98%;

        --border: 217.2 32.6% 17.5%;
        --input: 217.2 32.6% 17.5%;
        --ring: 212.7 26.8% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
*::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
